@import "vars";
@import "fonts";
@import "libs";

#header {
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 40px;
  gap: 30px;
  margin-right: 50px;

  & .logo {
    font-size: 36px;
    font-weight: 600;
    color: #7452a3;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  & .meniu {
    display: grid;
    justify-items: end;
    align-items: center;

    & .icon-nav {
      font-size: 20px;
      cursor: pointer;
    }
  }

  & #navbar {
    position: fixed;
    top: 0;
  }
}

main {
  & #welcome-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & .welcome-section--left {
      padding: 100px 0 50px 150px;
      font-family: "Libre Baskerville", serif;
      font-size: 46px;
      color: #7452a3;
    }

    & .welcome-section--right {
      font-size: 200px;
      display: block;
      margin-left: auto;
      opacity: 0.05;
      color: #7452a3;
    }
  }

  & #projects {
    background: linear-gradient(to bottom, #f5f3f8 20%, #fff 20%);
    padding-top: 30px;
    & .box {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      & .container-project-left {
        display: grid;
        justify-content: end;
      }

      & .container-project {
        display: grid;
        justify-content: start;
      }
    }

    & .div-more--container {
      display: grid;
      justify-content: end;
      padding: 20px 0;
    }
  }

  & .clients {
    background: linear-gradient(
      to bottom,
      rgba(175, 151, 223, 0.23) 50%,
      #fff 50%
    );
    padding-top: 70px;
    display: grid;
    justify-items: center;
    padding-bottom: 30px;

    & .clients--text {
      font-size: 46px;
      font-weight: 400;
      font-family: "Libre Baskerville";
    }

    & .clients--images {
      padding: 5px;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;

      & .box_img {
        background-color: white;
        width: 250px;
        display: grid;
        padding: 50px;
        justify-content: center;
        border: 1px solid #ddd;

        &:nth-child(1) {
          border-left: none;
          border-top: none;
        }

        &:nth-child(2),
        &:nth-child(3) {
          border-top: none;
        }

        &:nth-child(4) {
          border-right: none;
          border-top: none;
        }

        &:nth-child(5) {
          border-left: none;
          border-bottom: none;
        }

        &:nth-child(6),
        &:nth-child(7) {
          border-bottom: none;
        }

        &:nth-child(8) {
          border-right: none;
          border-bottom: none;
        }

        & .client_img {
          width: 100%;
        }
      }
    }

    & .div-align {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-self: end;
      gap: 10px;
      width: 20%;
    }
  }

  & #conversation {
    background-color: #7452a3;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, max-content);
    padding: 70px 0;
    gap: 30px;

    & .conversation--title {
      font-family: "Libre Baskerville";
      color: #99f7e2;
      font-size: 46px;
      font-weight: 400;
      line-height: 69px;
    }

    & .conversation--text {
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-family: "Source Sans Pro Light";
      font-weight: 300;
      line-height: 36px;
    }

    & .contact_us {
      background-color: #00309a;
      box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5);
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      padding: 10px 40px;
    }
  }

  & #footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    background-color: #4d3172;
    padding: 50px 50px 0px 50px;

    & .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & .footer--left-top {
        color: #99f7e2;
        font-size: 36px;
        font-weight: 600;
      }

      & .footer--right-top {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: end;
        gap: 30px;
      }
    }

    & .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: #fff;

      & .footer--right-bottom {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: end;
      }
    }
  }
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fa-bars::before {
  color: #7452a3;
}

.fa-angle-left,
.fa-angle-right::before {
  padding: 0 10px;
  width: 50px;
  font-size: 70px;
  color: #1a1a1a;
  background-color: #f1f1f1;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin,
.fa-instagram::before {
  color: #99f7e2;
  font-size: 24px;
}

.fa-copyright::before {
  color: #fff;
}

.project-tile {
  margin-top: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #060606;
}

.diff_text {
  color: #7452a3;
  font-weight: 600;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.carousel-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  width: 100%;
}

.carousel-active:checked + .carousel-item {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.carousel-control {
  cursor: pointer;
  z-index: 2;
}

.carousel-active:checked + .carousel-item {
  transition: opacity 0.6s ease-in;
  opacity: 1;
}

@media only screen and (max-width: 1020px) {
  main {
    & #welcome-section {
      & .welcome-section--left {
        padding: 50px;
        font-size: 30px;
      }

      & .welcome-section--right {
        font-size: 150px;
      }
    }

    & #projects {
      background: linear-gradient(to bottom, #f5f3f8 10%, #fff 10%);
      & .box {
        & .container-project-left {
          display: grid;
          justify-content: end;
        }

        & .container-project {
          display: grid;
          justify-content: start;
        }
      }
    }

    & .clients {
      & .clients--images {
        & .box_img {
          width: 170px;
          padding: 20px;
        }
      }
    }
  }

  .project-img {
    max-width: 300px;
  }

  .fa-angle-left,
  .fa-angle-right::before {
    font-size: 60px;
  }
}

@media only screen and (max-width: 700px) {
  main {
    & #welcome-section {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: none;

      & .welcome-section--left {
        font-size: 20px;
      }
    }

    & #projects {
      background: linear-gradient(to bottom, #f5f3f8 5%, #fff 5%);

      & .box {
        grid-template-rows: max-content;
        grid-template-columns: none;

        & .container-project-left {
          display: grid;
          justify-content: center;
        }

        & .container-project {
          display: grid;
          justify-content: center;
        }
      }
    }

    & .clients {
      padding-top: 70px;
      display: grid;
      justify-items: center;

      & .clients--text {
        font-size: 35px;
      }

      & .clients--images {
        grid-template-columns: repeat(2, max-content);

        & .box_img {
          width: 140px;

          &:nth-child(2) {
            border-right: none;
          }

          &:nth-child(3) {
            border-left: none;
          }

          &:nth-child(6) {
            border-right: none;
          }

          &:nth-child(7) {
            border-left: none;
          }

          & .client_img {
            width: 100%;
          }
        }
      }

      & .div-align {
        width: 50%;
      }
    }

    & #conversation {
      & .conversation--title {
        font-size: 21px;
      }

      & .conversation--text {
        font-size: 15px;
      }

      & .contact_us {
        background-color: #00309a;
        box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5);
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        padding: 10px 40px;
      }
    }

    & #footer {
      padding: 0;

      & .top {
        grid-template-columns: none;
        grid-template-rows: repeat(2, max-content);
        justify-content: center;
      }

      & .bottom {
        grid-template-columns: none;
        grid-template-rows: repeat(2, max-content);
        justify-content: center;
        gap: 20px;
      }
    }
  }

  .project-img {
    max-width: 280px;
  }
}
