@import "vars";
@import "fonts";
@import "libs";

#header {
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 40px;
  gap: 30px;
  margin-right: 50px;

  & .logo {
    font-size: 36px;
    font-weight: 600;
    color: #7452a3;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  & .meniu {
    display: grid;
    justify-items: end;
    align-items: center;
  }
}

main {
  & #welcome-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));

    & .welcome-section--left {
      padding: 100px 0 50px 150px;
      font-size: 46px;
      color: #7452a3;
    }

    & .welcome-section--right {
      font-size: 200px;
      display: block;
      margin-left: auto;
      margin-top: auto;
      opacity: 0.05;
      color: #7452a3;
    }
  }
}

.fa-bars::before {
  color: #7452a3;
}
